@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f7f7f7;
}

.main_container::-webkit-scrollbar,
.orders_container::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .page_header {
    @apply font-[600] sm:font-[400] text-[16px] sm:text-[25px] capitalize text-dark;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
